In [2]:
import pandas as pd

df_raw = pd.read_csv('data.csv')

In [54]:
df = df_raw.copy(deep=True)

In [55]:
df[df['LocationAbbr'] == 'TX'].iloc[0]

Rowid                                   2016~48~SMOKE01~SMOKE~DISSTAT~NODIS~~~~
Year                                                                       2016
LocationAbbr                                                                 TX
LocationDesc                                                              Texas
DataSource                                                                BRFSS
Category                                               Health Risks & Behaviors
Indicator                     Smoking status among adults 18 years of age or...
Response                                                         Current Smoker
Data_Value_Unit                                                               %
Data_Value_Type                                         Age-adjusted Prevalence
Data_Value                                                                 12.3
Data_Value_Alt                                                             12.3
Data_Value_Footnote_Symbol                                                  NaN
Data_Value_Footnote                                                         NaN
Low_Confidence_Limit                                                       11.1
High_Confidence_Limit                                                      13.6
Number                                                                    850.0
WeightedNumber                                                        1855099.0
StratificationCategory1                                       Disability Status
Stratification1                                                   No Disability
StratificationCategory2                                                     NaN
Stratification2                                                             NaN
CategoryID                                                               HLTHRB
IndicatorID                                                               SMOKE
Geolocation                                                                 NaN
LocationID                                                                   48
ResponseID                                                              SMOKE01
DataValueTypeID                                                      AGEADJPREV
StratificationCategoryID1                                               DISSTAT
StratificationID1                                                         NODIS
StratificationCategoryID2                                                   NaN
StratificationID2                                                           NaN
Name: 6, dtype: object

In [56]:
tmp = df[['Year', 'LocationAbbr', 'Stratification1']].sort_values(['LocationAbbr', 'Year', 'Stratification1']).rename(columns={'LocationAbbr': 'State', 'Stratification1': 'DisStat'})
tmp

        Year State            DisStat
445     2016    AK     Any Disability
647     2016    AK     Any Disability
1527    2016    AK     Any Disability
1553    2016    AK     Any Disability
2198    2016    AK     Any Disability
...      ...   ...                ...
432957  2019    WY  Vision Disability
433435  2019    WY  Vision Disability
435614  2019    WY  Vision Disability
436392  2019    WY  Vision Disability
438471  2019    WY  Vision Disability

[438788 rows x 3 columns]

In [49]:
tmp = tmp[tmp['DisStat'] != 'No Disability']

In [32]:
tmp.to_csv('out.csv')

In [59]:
import os


def create_csvs():
    if not os.path.isdir('out'):
        os.mkdir('out')

    for state in list(tmp['State'].unique()):
        tmp[tmp['State'] == state].sort_values('Year').to_csv(f"out/{state}.csv")
        
    return

In [60]:
create_csvs()

In [64]:
df16 = tmp[tmp['Year'] == 2016].sort_values('State')

In [66]:
df16.to_csv('out.csv')