In [162]:
import pandas as pd

df_raw = pd.read_csv('data.csv')

In [163]:
df = df_raw.copy(deep=True)

In [171]:
tmp = df[(df['Response'].str.contains('Disability')) & ~((df['Response'].str.contains('Any')) | (df['Response'].str.contains('No')))].sort_values(['LocationAbbr', 'Year', 'Response', 'Number'])[['LocationAbbr', 'Year', 'Response', 'Number']]

In [173]:
tmp1 = tmp[~((tmp['LocationAbbr'] == 'US') | (tmp['LocationAbbr'].str.contains('HHS')))]

In [174]:
tmp1

       LocationAbbr  Year                       Response  Number
2768             AK  2016           Cognitive Disability   210.0
12603            AK  2016             Hearing Disability   209.0
7684             AK  2016  Independent Living Disability   145.0
10104            AK  2016            Mobility Disability   345.0
7778             AK  2016           Self-care Disability    88.0
...             ...   ...                            ...     ...
342751           WY  2019             Hearing Disability   630.0
344632           WY  2019  Independent Living Disability   301.0
338075           WY  2019            Mobility Disability   782.0
340242           WY  2019           Self-care Disability   156.0
331345           WY  2019              Vision Disability   230.0

[1272 rows x 4 columns]

In [175]:
tmp1[tmp1['LocationAbbr'] == 'TX']

       LocationAbbr  Year                       Response  Number
8585             TX  2016           Cognitive Disability  1124.0
2689             TX  2016             Hearing Disability   923.0
5270             TX  2016  Independent Living Disability   952.0
3735             TX  2016            Mobility Disability  2248.0
8692             TX  2016           Self-care Disability   577.0
2247             TX  2016              Vision Disability   708.0
110410           TX  2017           Cognitive Disability  1396.0
162              TX  2017             Hearing Disability   992.0
118959           TX  2017  Independent Living Disability  1089.0
115869           TX  2017            Mobility Disability  2402.0
118399           TX  2017           Self-care Disability   700.0
127295           TX  2017              Vision Disability   742.0
218851           TX  2018           Cognitive Disability  1158.0
219049           TX  2018             Hearing Disability  1000.0
225450           TX  2018  Independent Living Disability   871.0
214996           TX  2018            Mobility Disability  1970.0
217711           TX  2018           Self-care Disability   516.0
216447           TX  2018              Vision Disability   709.0
343779           TX  2019           Cognitive Disability  1365.0
333790           TX  2019             Hearing Disability  1130.0
339487           TX  2019  Independent Living Disability  1048.0
342455           TX  2019            Mobility Disability  2343.0
340252           TX  2019           Self-care Disability   663.0
343816           TX  2019              Vision Disability   813.0

In [182]:
df[(df['Response'] == 'Independent Living Disability') & (df['LocationAbbr'] == 'TX')].groupby('Response')['Number'].sum() / df[(df['LocationAbbr'] == 'US') & (df['Response'] == 'Independent Living Disability')].groupby('Response')['Number'].sum()

Response
Independent Living Disability    0.029638
Name: Number, dtype: float64

In [184]:
tx_vision = df[(df['LocationAbbr'] == 'TX') & (df['Response'].str.contains('Vision'))]['Number'].sum()

In [186]:
al_vision = df[(df['LocationAbbr'] == 'AL') & (df['Response'].str.contains('Vision'))]['Number'].sum()

In [187]:
al_vision

1932.0

In [188]:
tx_vision

2972.0

In [189]:
us_vision = df[(df['LocationAbbr'] == 'US') & (df['Response'].str.contains('Vision'))]['Number'].sum()

In [190]:
us_vision

92741.0

In [191]:
tx_vision / us_vision

0.03204623629247043

In [192]:
al_vision / us_vision

0.02083221013359787

In [203]:
df[(df['Response'].str.contains('Disability')) & ~((df['Response'].str.contains('No ')) | (df['Response'].str.contains('Any ')) | (df['LocationAbbr'] == 'US') | (df['LocationAbbr'].str.contains('HHS')))].groupby('Response')['Number'].sum().sort_values(ascending=False).reset_index().iloc[0]

Response    Mobility Disability
Number                 301785.0
Name: 0, dtype: object

In [204]:
tx_mobility = df[(df['LocationAbbr'] == 'TX') & (df['Response'] == 'Mobility Disability')].groupby('Response')['Number'].sum()

In [205]:
tx_mobility / us_mobility

Response
Mobility Disability    0.0297
Name: Number, dtype: float64

In [206]:
disabilities_list = list(df[df['Response'].str.contains('Disability')]['Response'].unique())

In [207]:
disabilities_list

['Any Disability',
 'Mobility Disability',
 'No Disability',
 'Vision Disability',
 'Hearing Disability',
 'Independent Living Disability',
 'Cognitive Disability',
 'Self-care Disability']

In [239]:
disability_dict = {}
for location in list(df['LocationAbbr'].unique()):
    disability_dict[location] = {}
    for year in list(df['Year'].unique()):
        disability_dict[location][year] = {}
        for disability in disabilities_list:
            disability_dict[location][year][disability.split(' ')[0]] = df[(df['LocationAbbr'] == location) & (df['Year'] == year) & (df['Response'] == disability)]['Number']

In [241]:
int(disability_dict['KS'][2016]['Mobility'].item()) / int(disability_dict['US'][2016]['Mobility'].item())

0.022258560515461403